body {
  font-family: Arial, sans-serif;
  background: #e3e6e6;
  margin: 0;
}

.auth-container {
  width: 350px;
  padding: 20px;
  margin: 50px auto;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

button {
  background: #ff9900;
  padding: 12px;
  width: 100%;
  color: #111;
  font-weight: bold;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.products-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.product-card {
  width: 200px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}
